<h3>Tables</h3>
{% for item in tables %}
<a class="tables link" value="{{ item }}">{{ item }} </a>
{% endfor %}

<h3>X Value</h3>
{% for item in X %}
<a class="X link" value="{{ item }}">{{ item }} </a>
{% endfor %}


<h3>Y Value</h3>
{% for item in Y %}
<a class="Y link" value="{{ item }}">{{ item }} </a>
{% endfor %}


<script type="text/javascript">
 $('.tables.link').click(function (event) {
     event.preventDefault();
     append_to_url('table', $(this).attr('value') ); return false;
});
 $('.X.link').click(function (event) {
     event.preventDefault();
     append_to_url('X', $(this).attr('value') ); return false;
});
 $('.Y.link').click(function (event) {
     event.preventDefault();
     append_to_url('Y', $(this).attr('value') ); return false;
});
</script>
