{% include 'header.html' %}
<h1>{{ salutation }} {{ target }}</h1>
<div class="container">
  <div class="main_content row">
    <div class="sidebar col-sm-1">{% include 'map_sidebar.html' %}</div>
    <div class="main col-sm-11" style="width:800px;height:600px;">
      <small><a href="//miwamoto.maps.arcgis.com/apps/Embed/index.html?webmap=461a2d2ddb91480f9f732a90f42a290f&amp;extent=-80.1477,40.3426,-79.7687,40.5226&amp;zoom=true&amp;scale=true&amp;basemap_gallery=true&amp;disable_scroll=true&amp;theme=light" style="color:#0000FF;text-align:left" target="_blank">View larger map</a></small><br><iframe width="800" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Pittsburg Crime Heat Map" src="//miwamoto.maps.arcgis.com/apps/Embed/index.html?webmap=461a2d2ddb91480f9f732a90f42a290f&amp;extent=-80.1477,40.3426,-79.7687,40.5226&amp;zoom=true&amp;scale=true&amp;basemap_gallery=true&amp;disable_scroll=true&amp;theme=light"></iframe>
    </div>
  </div>
</div>
{% include 'footer.html' %}
