<p>Copyright 2017</p>

<script type="text/javascript">
    var table = 'weather';
    var X = 'month';
    var Y = undefined;


var table_names = {
'allegheny_county_anxiety_medication_0': 'Anxiety Medication 1',
'allegheny_county_anxiety_medication_1': 'Anxiety Medication 2',
'allegheny_county_boundary_3': 'County Boundary',
'allegheny_county_crash_data_15': 'Crash Data',
'allegheny_county_depression_medication_0': 'Depression Medication 1',
'allegheny_county_depression_medication_1': 'Depression Medication 2',
'allegheny_county_diabetes_hospitalization_0': 'Diabetes Hospitalization 0',
'allegheny_county_diabetes_hospitalization_1': 'Diabetes Hospitalization 1',
'allegheny_county_fatal_accidental_overdoses_1': 'Fatal Accidental Overdoses 1',
'allegheny_county_fatal_accidental_overdoses_2': 'Fatal Accidental Overdoses 2',
'allegheny_county_hypertension_hospitalization_0': 'Hypertension Hospitalization 0',
'allegheny_county_hypertension_hospitalization_1': 'Hypertension Hospitalization 1',
'allegheny_county_land_cover_areas_3': 'Land Cover Areas 3',
'allegheny_county_median_age_at_death_0': 'Median Age At Death 0',
'allegheny_county_median_age_at_death_1': 'Median Age At Death 1',
'allegheny_county_municipal_boundaries_3': 'Municipal Boundaries 3',
'allegheny_county_obesity_rates_1': 'Obesity Rates 1',
'allegheny_county_obesity_rates_2': 'Obesity Rates 2',
'allegheny_county_poor_housing_conditions_0': 'Poor Housing Conditions 0',
'allegheny_county_poor_housing_conditions_1': 'Poor Housing Conditions 1',
'allegheny_county_primary_care_access_0': 'Primary Care Access 0',
'allegheny_county_primary_care_access_1': 'Primary Care Access 1',
'allegheny_county_smoking_rates_0': 'Smoking Rates 0',
'allegheny_county_smoking_rates_1': 'Smoking Rates 1',
'allegheny_county_zip_code_boundaries_3': 'Zip Code Boundaries 3',
'crime_forecasts': 'Crime Forecasts',
'diabetes_0': 'Diabetes 0',
'diabetes_1': 'Diabetes 1',
'geocoders_0': 'Geocoders 0',
'hyperlipidemia_0': 'Hyperlipidemia 0',
'hyperlipidemia_1': 'Hyperlipidemia 1',
'hypertension_0': 'Hypertension 0',
'hypertension_1': 'Hypertension 1',
'metatable': 'Metatable',
'neighborhoods_with_snap_data_3d3a9_3': 'Neighborhoods With Snap Data',
'non_traffic_citations_0': 'Non Traffic citations 0',
'pgh_snap_13': 'Snap Data 13',
'pgh_snap_14': 'Snap Data 14',
'pgh_snap_16': 'Snap Data 16',
'pgh_snap_17': 'Snap Data 17',
'pgh_snap_18': 'Snap Data 18',
'pgh_snap_19': 'Snap Data 19',
'pgh_snap_20': 'Snap Data 20',
'pittsburgh_police_arrest_data_0': 'Pittsburgh Police Arrest Data',
'pittsburgh_police_sectors_5f5e5_3': 'Pittsburgh Police Sectors',
'pittsburgh_police_zones_4763f_3': 'Pittsburgh Police Zones',
'police_incident_blotter_30_day_0': 'Police Incident Blotter 30 Day',
'police_incident_blotter_archive_0': 'Police Incident Blotter Archive 0',
'police_incident_blotter_archive_2': 'Police Incident Blotter Archive 2',
'poverty': 'Poverty',
'tmp': '',
'weather': 'Weather',
'weather_forecasts': 'Weather Forecasts'
	};

    listen_for_link_click();
    listen_for_table_click();
    plot(X, Y);

    function listen_for_link_click() {
	console.log('listen for link click');
	$('.X.link').unbind().on('click', function () {
	    X = $('input.X:checked').val();
	    plot(X, Y);
	});
	$('.Y.link').unbind().on('click', function () {
	    Y = $('input.Y:checked').val();
	    plot(X, Y);
	});
    }

    $('#tables').on('click', function (){
	$('#table_links').toggle();
    });

    $('#X_header').on('click', function (){
	$('#X_links').toggle();
    });

    $('#Y_header').on('click', function (){
	$('#Y_links').toggle();
    });

    $('#group_header').on('click', function (){
	$('#groupby_links_links').toggle();
    });


    function listen_for_table_click(){
	console.log('listen for table click');
	$('.tables.link').on('click', function (event) {
	    console.log(this);
	    table = $(this).val();
	    console.log(table);
	    console.log(table);
	    console.log(table);
	    console.log(table);
	    console.log(table);
	    console.log(table);
	    console.log(table);
	    console.log(table);
	    console.log(table);
	    get_cols(table);
	});
    }

    function get_cols(table) {
	console.log('gettings cols for ' + table);

	$('#title').text('Pittsburgh: ' + table_names[table]);
	$.get('getcols', {table: table}, function (htmls) {
	    $('#plot_area').empty();
	    htmls = JSON.parse(htmls);

	    $('#X_links').html(htmls['X']);
	    $('#Y_links').html(htmls['Y']);

	    listen_for_link_click();
	});
    }

    function plot(X, Y) {
	$.get('plotter', {table: table, X: X, Y: Y}, function (html) {
	    $('#plot_area').html(html);
	})

    }
     
     function get_search_params() {
	 var params = {};

	 // Get all key/value pairs, as separate items
	 var items = window.location.search.slice(1).split('&')
	 for(var i = 0; i < items.length; i++)
	     {
		 // Split each one and store it in params
		 var kv = items[i].split('=');
		 params[kv[0]] = kv[1];
	     }
	 return params;
     } 

     function append_to_url(keyvals) {
	 var url = window.location.origin + window.location.pathname;
	 var params = get_search_params();
	 for(var i = 0; i < keyvals.length; i++) {
	     var key = keyvals[i][0];
	     var val = keyvals[i][1];
	     if (val == '') {
		 delete params[key];
	     } else {
		 params[key] = val;
	     }
	 }
	 delete params[''];
	 window.location = url + "?" + $.param(params);
     }

     function searchbox() {
	 var searchval = $('#searchbox').val();
         <!-- append_to_url([['search', searchval]]); -->
	 return searchval;
     }

</script>
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" type="text/css" />

<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
<script type="text/javascript">
    Bokeh.set_log_level("info");
</script>
</body>
