<h3 class="header" id = "tables">Tables</h3>
<div id="table_links">
  {% for item in tables %}
  <!-- <p><a class="tables link" value="{{ item }}">{{ item }} </a></p> -->
 <label > <input type="radio" name="table" class="tables link" value="{{ item }}" />&nbsp;{{ item }} </label><br>
  {% endfor %}
</div>

<h3 id="X_header">X Value</h3>
<div id="X_links">
  {% for item in X %}
 <label > <input type="radio" name="X" class="X link" value="{{ item }}" />&nbsp;{{ item }} </label><br>
  {% endfor %}
</div>


<h3 id="Y_header">Y Value</h3>
<div id="Y_links">
  {% for item in Y %}
 <label > <input type="radio" name="Y" class="Y link" value="{{ item }}" />&nbsp;{{ item }} </label><br>
  {% endfor %}
</div>

<h3 id="group_header">Group By</h3>
<div id="groupby_links">
  {% for item in groupby %}
 <label > <input type="radio" name="groupby" class="groupby link" value="{{ item }}" />&nbsp;{{ item }} </label><br>
  {% endfor %}
</div>
